<div class="alert alert-block alert-info">
<center>ESTATÍSTICA APLICADA</center>
<center>PROJETO 1</center>
<center>ALUNO: MATHEUS MENDES CASTRO CAVALCANTE</center>
</div>

<div class="alert alert-block alert-info">
1ª Tarefa:
    
Carregar em dataframes os conjuntos de dados referentes ao ano de 2018, 2019 e 2020. Corrijir quaisquer erros que apareçam no carregamento dos arquivos. É possível acessar os arquivos
compactados diretamente do site, sem precisar baixá-los?
</div>

**IMPORTAR AS BIBLIOTECAS 'PANDAS' E 'NUMPY'**

In [6]:
import pandas as pd

É POSSÍVEL ACESSAR, MAS É NECESSÁRIO O COMANDO PANDAS 'compression=zip' POIS ELE POR SI SÓ NÃO CONSEGUE ABRIR UM ARQUIVO ZIPADO, UTILIZANDO 'sep= ;' COMO SEPARADOR E ORGANIZADOR DOS DADOS, USEI TAMBÉM O LATIN1 PARA MUDAR A DECODIFICAÇÃO DE ONDE O ARQUIVO .csv ESTÁ SENDO RECEBIDO E UTILIZEI A FUNÇÃO low_memory PARA DIMINUIR O USO DA MEMÓRIA DO COMPUTADOR

In [10]:
df_2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download", compression="zip", sep=";", encoding="latin1",low_memory=False)
df_2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download", compression="zip", sep=";", encoding="latin1",low_memory=False)
df_2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download", compression="zip", sep=";", encoding="latin1",low_memory=False)

<div class="alert alert-block alert-info">
2ª Tarefa:
    
Explore os conjuntos de dados, respondendo as questões:
</div>

<div class="alert alert-block alert-info">
(a) quantos acidentes ocorreram em cada ano?
</div>

Usei a ferramenta "len" para contar quantos itens tem na coluna selecionada

In [11]:
n_acidentes2018 = len(df_2018)
print(f'2018: {n_acidentes2018} Acidentes')
n_acidentes2019 = len(df_2019)
print(f'2019: {n_acidentes2019} Acidentes')
n_acidentes2020 = len(df_2020)
print(f'2020: {n_acidentes2020} Acidentes')

2018: 69295 Acidentes
2019: 67446 Acidentes
2020: 63548 Acidentes

Usei a ferramenta "len" para contar quantos itens tem na coluna selecionada

<div class="alert alert-block alert-info">
    (b) quantas variáveis cada conjunto de dados registra?
</div>

In [12]:
n_colunas_2018 = len(df_2018.columns)
print(f'2018: {n_colunas_2018} Variáveis')
n_colunas_2019 = len(df_2019.columns)
print(f'2019: {n_colunas_2019} Variáveis')
n_colunas_2020 = len(df_2020.columns)
print(f'2020: {n_colunas_2020} Variáveis')

2018: 30 Variáveis
2019: 30 Variáveis
2020: 30 Variáveis

<div class="alert alert-block alert-info">
(c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?
</div>

**MOSTRAR AS 5 CIDADES QUE MAIS TIVERAM ACIDENTES EM CADA ANO SEPARADAMENTE**

Para depois unir em um único DataFrame todos os 3 anos e assim mostrar as 5 cidades onde mais ocorreram acidendes nos 3 anos juntos.

2018

In [13]:
print('----- AS CINCO CIDADES COM MAIS ACIDENTES EM 2018 -----')
cinco_de_2018 = df_2018['municipio'].value_counts()
cinco_de_2018.iloc[0:5]

----- AS CINCO CIDADES COM MAIS ACIDENTES EM 2018 -----

CURITIBA     1019
SAO JOSE      874
BRASILIA      867
GUARULHOS     755
PALHOCA       688
Name: municipio, dtype: int64

2019

In [14]:
print('----- AS CINCO CIDADES COM MAIS ACIDENTES EM 2019 -----')
cinco_de_2019 = df_2019['municipio'].value_counts()
cinco_de_2019.iloc[0:5]

----- AS CINCO CIDADES COM MAIS ACIDENTES EM 2019 -----

CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
Name: municipio, dtype: int64

2020

In [15]:
print('----- AS CINCO CIDADES COM MAIS ACIDENTES EM 2020 -----')
cinco_de_2020 = df_2020['municipio'].value_counts()
cinco_de_2020.iloc[0:5]

----- AS CINCO CIDADES COM MAIS ACIDENTES EM 2020 -----

BRASILIA     1040
CURITIBA      950
GUARULHOS     639
SAO JOSE      629
PALHOCA       593
Name: municipio, dtype: int64

UNIR OS 3 DATAFRAMES PARA INDENTIFICAR AS 5 CIDADES COM O MAIOR NÚMERO DE ACIDENTES NOS 3 ANOS JUNTOS

Usando o comando Pandas .concat para concatenar os 3 DataFrames dos 3 respectivos anos

In [16]:
df_total = pd.concat([df_2018, df_2019, df_2020], ignore_index=True)
cinca_cidades_total = df_total['municipio'].value_counts()
cinca_cidades_total.iloc[0:5]

CURITIBA     3063
BRASILIA     2997
SAO JOSE     2322
GUARULHOS    2111
PALHOCA      1887
Name: municipio, dtype: int64

<div class="alert alert-block alert-info">
    (d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?
</div>

Criei um novo DataFrame selecionando apenas os acidentes datados no estado da Paraíba, logo em seguida ignorei o indices que consideravam feridos graves como ZERO e usei o comando . sum() para somar todos os feridos gravemente.

In [17]:
df_2019
pb_2019=df_2019[df_2019['uf']=='PB']
pb_2019_graves = (pb_2019['feridos_graves']!=0)
print(f'Feridos Graves na Paraíba (2019): {pb_2019_graves.sum()}')

Feridos Graves na Paraíba (2019): 414

<div class="alert alert-block alert-info">
3ª Tarefa:
    
Para cada indicação abaixo, construa um novo dataframe, salvando-o com a terminação .csv.
</div>

<div class="alert alert-block alert-info">
(a) ranking de acidentes por estado para todos os anos (um só arquivo combinando a
informação dos três anos);
</div>

Criei um novo DataFrame para selecionar apenas a coluna dos estados e usei o comendo .value_counts() para mostrar em ordem os Estados onde mais houveram acidentes nos 3 anos!

In [18]:
df_total_3a = df_total['uf'].value_counts()
df_total_por_estado = pd.DataFrame(df_total_3a)
df_total_por_estado

       uf
MG  26160
SC  24145
PR  22850
RJ  13417
RS  13216
SP  12936
BA  10482
GO  10046
ES   8018
PE   8011
MT   6963
CE   4962
RO   4648
PB   4553
MS   4505
RN   4190
PI   3920
MA   3501
PA   3040
DF   2997
AL   1948
SE   1746
TO   1704
AC    789
RR    723
AP    456
AM    363

Para salvar o novo DataFrame em um arquivo .csv, usei o comando .to_csv colocando o "index=True" para formatar então o novo DF criado.

In [19]:
df_total_3a.to_csv(index=True)

',uf\r\nMG,26160\r\nSC,24145\r\nPR,22850\r\nRJ,13417\r\nRS,13216\r\nSP,12936\r\nBA,10482\r\nGO,10046\r\nES,8018\r\nPE,8011\r\nMT,6963\r\nCE,4962\r\nRO,4648\r\nPB,4553\r\nMS,4505\r\nRN,4190\r\nPI,3920\r\nMA,3501\r\nPA,3040\r\nDF,2997\r\nAL,1948\r\nSE,1746\r\nTO,1704\r\nAC,789\r\nRR,723\r\nAP,456\r\nAM,363\r\n'

<div class="alert alert-block alert-info">
(b) acidentes por dia da semana para todos os anos (um só arquivo combinando a informação dos três anos).
</div>

CRIEI UM DATAFRAME COM OS PARA MOSTRAR O TOTAL DE CASOS EM CADA DIA DA SEMANA NOS 3 ANOS JUNTOS, UTILIZANDO O COMANDO .value_counts()

In [20]:
df_total_3b = df_total['dia_semana'].value_counts()
df_total_dia_semana=pd.DataFrame(df_total_3b)
df_total_dia_semana

               dia_semana
sábado              33005
domingo             33001
sexta-feira         30777
segunda-feira       27075
quinta-feira        26229
quarta-feira        25353
terça-feira         24849

Para salvar o novo DataFrame em um arquivo .csv, usei o comando .to_csv colocando o "index=True" para formatar então o novo DF criado.

In [21]:
df_total_3b.to_csv(index=True)

',dia_semana\r\nsábado,33005\r\ndomingo,33001\r\nsexta-feira,30777\r\nsegunda-feira,27075\r\nquinta-feira,26229\r\nquarta-feira,25353\r\nterça-feira,24849\r\n'

<div class="alert alert-block alert-info">
4ª Tarefa:

Com relação a ocorrência dos acidentes, responda:
</div>

<div class="alert alert-block alert-info">
(a) qual a causa mais frequente e a mais rara de acidentes registrados nos três anos?
</div>

Usei a função .head(1) para selecionar o primeiro indice na qual representa a causa de acidente mais frequente

In [22]:
df_acidente_mais_frequente = df_total['causa_acidente'].value_counts()
df_acidente_mais_frequente=pd.DataFrame(df_acidente_mais_frequente.head(1))
df_acidente_mais_frequente

                             causa_acidente
Falta de Atenção à Condução           73231

Usei a função .query para filtrar os indices como menor incidência, igualando a coluna == menor valor possível.

In [23]:
df_acidente_menos_frequente = df_total['causa_acidente'].value_counts()
df_acidente_menos_frequente = pd.DataFrame(df_acidente_menos_frequente)
df_acidente_menos_frequente.query('causa_acidente == 1')

                                                    causa_acidente
Pedestre cruzava a pista fora da faixa                           1
Pista esburacada                                                 1
Frear bruscamente                                                1
Curva acentuada                                                  1
Ingestão de álcool ou de substâncias psicoativa...               1
Estacionar ou parar em local proibido                            1
Acumulo de areia ou detritos sobre o pavimento                   1
Ausência de sinalização                                          1
Fumaça                                                           1
Acumulo de óleo sobre o pavimento                                1
Condutor usando celular                                          1
Acostamento em desnível                                          1

<div class="alert alert-block alert-info">
(b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos
considerados? (proporção = numero de ilesos ou feridos graves/ número total de
pessoas envolvidas no acidente);

</div>

## 2018

Transformar a coluna 'data_inversa' no tipo 'datatime64', para poder manipular os dados através das datas!

In [24]:
df_meses_2018 = (df_2018)
df_meses_2018['data_inversa'] = pd.to_datetime(df_meses_2018['data_inversa'])

# **RELAÇÃO ILESOS/TOTAL DE PESSOAS - 2018**

*Usei a ferramenta .groupby para agrupar o número de pessoas ilesas em seus respectivos meses do ano de 2018

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [25]:
#AGRUPAMENTO POR MÊS
agrupamento_mes_ilesos_2018 = pd.DataFrame(df_meses_2018.groupby(df_meses_2018['data_inversa'].dt.month)['ilesos'].sum())

*Usei a ferramenta .groupby para agrupar o número de pessoas em seus respectivos meses do ano de 2018

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [26]:
#AGRUPAMENTO POR MÊS DO TOTAL DE PESSOAS
agrupamento_mes_total_2018 = pd.DataFrame(df_meses_2018.groupby(df_meses_2018['data_inversa'].dt.month)['pessoas'].sum())

FIZ A JUNÇÃO DOS DOIS DATAFRAMES NOVOS CRIADOS PARA FAZER A OPERAÇÃO DE RELAÇÃO ENTRE OS VALORES USANDO A FUNÇÃO PANDAS .concat()

In [27]:
df_relacao_ilesas_2018 = pd.concat([agrupamento_mes_ilesos_2018, agrupamento_mes_total_2018], axis=1)

ENTÃO, FIZ A RELAÇÃO ENTRE O NÚMERO DE PESSOAS ILESAS DO ACIDENTE COM O TOTAL DE PESSOAS DE CADA MÊS E CRIEI UMA NOVA COLUNA PARA MOSTRAR ESTE RESULTADO

In [28]:
df_relacao_ilesas_2018['proporção (ilesos/total)'] = df_relacao_ilesas_2018['ilesos'] / df_relacao_ilesas_2018['pessoas']
df_relacao_ilesas_2018

              ilesos  pessoas  proporção (ilesos/total)
data_inversa
1               8554    16665                  0.513291
2               6999    14047                  0.498256
3               7276    15110                  0.481535
4               5691    13230                  0.430159
5               4851    11489                  0.422230
6               5471    12870                  0.425097
7               5958    13618                  0.437509
8               5456    12776                  0.427051
9               5480    13027                  0.420665
10              5545    12890                  0.430178
11              5719    13197                  0.433356
12              6876    15883                  0.432916

# **RELAÇÃO FERIDOS GRAVES/TOTAL DE PESSOAS - 2018**

*Usei a ferramenta .groupby para agrupar o número de pessoas FERIDAS GRAVEMENTE em seus respectivos meses do ano de 2018

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [29]:
#AGRUPAMENTO POR MÊS DOS FERIDOS GRAVEMENTE
agrupamento_mes_feridosGrave_2018 = pd.DataFrame(df_meses_2018.groupby(df_meses_2018['data_inversa'].dt.month)['feridos_graves'].sum())

FIZ A JUNÇÃO DOS DOIS DATAFRAMES NOVOS CRIADOS PARA FAZER A OPERAÇÃO DE RELAÇÃO ENTRE OS VALORES USANDO A FUNÇÃO PANDAS .concat()

In [30]:
df_relacao_feridosGrave = pd.concat([agrupamento_mes_feridosGrave_2018, agrupamento_mes_total_2018], axis=1)

ENTÃO, FIZ A RELAÇÃO ENTRE O NÚMERO DE PESSOAS FERIDAS GRAVEMENTE DO ACIDENTE COM O TOTAL DE PESSOAS DE CADA MÊS E CRIEI UMA NOVA COLUNA PARA MOSTRAR ESTE RESULTADO

In [31]:
df_relacao_feridosGrave['proporção (feridos_graves/total)'] = df_relacao_feridosGrave['feridos_graves'] / df_relacao_feridosGrave['pessoas']
df_relacao_feridosGrave

              feridos_graves  pessoas  proporção (feridos_graves/total)
data_inversa
1                       1510    16665                          0.090609
2                       1295    14047                          0.092191
3                       1539    15110                          0.101853
4                       1492    13230                          0.112774
5                       1315    11489                          0.114457
6                       1498    12870                          0.116395
7                       1502    13618                          0.110295
8                       1359    12776                          0.106371
9                       1504    13027                          0.115453
10                      1452    12890                          0.112645
11                      1523    13197                          0.115405
12                      1717    15883                          0.108103

## 2019

Transformar a coluna 'data_inversa' no tipo 'datatime64', para poder manipular os dados através das datas!

In [32]:
df_meses_2019 = (df_2019)
df_meses_2019['data_inversa'] = pd.to_datetime(df_meses_2019['data_inversa'])

# **RELAÇÃO ILESOS/TOTAL DE PESSOAS - 2019**

*Usei a ferramenta .groupby para agrupar o número de pessoas ilesas em seus respectivos meses do ano de 2019

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [33]:
#AGRUPAMENTO POR MÊS
agrupamento_mes_ilesos_2019 = pd.DataFrame(df_meses_2019.groupby(df_meses_2019['data_inversa'].dt.month)['ilesos'].sum())

*Usei a ferramenta .groupby para agrupar o número total de pessoas em seus respectivos meses do ano de 2019

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [34]:
#AGRUPAMENTO POR MÊS DO TOTAL DE PESSOAS
agrupamento_mes_total_2019 = pd.DataFrame(df_meses_2019.groupby(df_meses_2019['data_inversa'].dt.month)['pessoas'].sum())

FIZ A JUNÇÃO DOS DOIS DATAFRAMES NOVOS CRIADOS PARA FAZER A OPERAÇÃO DE RELAÇÃO ENTRE OS VALORES USANDO A FUNÇÃO PANDAS .concat()

In [35]:
df_relacao_ilesas_2019 = pd.concat([agrupamento_mes_ilesos_2019, agrupamento_mes_total_2019], axis=1)

ENTÃO, FIZ A RELAÇÃO ENTRE O NÚMERO DE PESSOAS ILESAS DO ACIDENTE COM O TOTAL DE PESSOAS DE CADA MÊS E CRIEI UMA NOVA COLUNA PARA MOSTRAR ESTE RESULTADO

In [36]:
df_relacao_ilesas_2019['proporção (ilesos/total) 2019'] = df_relacao_ilesas_2019['ilesos'] / df_relacao_ilesas_2019['pessoas']
df_relacao_ilesas_2019

              ilesos  pessoas  proporção (ilesos/total) 2019
data_inversa
1               5562    13111                       0.424224
2               5004    11799                       0.424104
3               5878    13569                       0.433193
4               5327    12815                       0.415685
5               5312    12795                       0.415162
6               5683    13411                       0.423757
7               6260    14331                       0.436815
8               5544    13421                       0.413084
9               5761    13682                       0.421064
10              5836    13931                       0.418922
11              5886    13823                       0.425812
12              6581    15585                       0.422265

# **RELAÇÃO FERIDOS GRAVES/TOTAL DE PESSOAS - 2019**

*Usei a ferramenta .groupby para agrupar o número de pessoas FERIDAS GRAVEMENTE em seus respectivos meses do ano de 2019

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [37]:
#AGRUPAMENTO POR MÊS DOS FERIDOS GRAVEMENTE
agrupamento_mes_feridosGrave_2019 = pd.DataFrame(df_meses_2019.groupby(df_meses_2019['data_inversa'].dt.month)['feridos_graves'].sum())

FIZ A JUNÇÃO DOS DOIS DATAFRAMES NOVOS CRIADOS PARA FAZER A OPERAÇÃO DE RELAÇÃO ENTRE OS VALORES USANDO A FUNÇÃO PANDAS .concat()

In [38]:
df_relacao_feridosGrave_2019 = pd.concat([agrupamento_mes_feridosGrave_2019, agrupamento_mes_total_2019], axis=1)

ENTÃO, FIZ A RELAÇÃO ENTRE O NÚMERO DE PESSOAS FERIDAS GRAVEMENTE DO ACIDENTE COM O TOTAL DE PESSOAS DE CADA MÊS E CRIEI UMA NOVA COLUNA PARA MOSTRAR ESTE RESULTADO

In [39]:
df_relacao_feridosGrave_2019['proporção (feridos_graves/total) 2019'] = df_relacao_feridosGrave_2019['feridos_graves'] / df_relacao_feridosGrave_2019['pessoas']
df_relacao_feridosGrave_2019

              feridos_graves  pessoas  proporção (feridos_graves/total) 2019
data_inversa
1                       1485    13111                               0.113264
2                       1260    11799                               0.106789
3                       1555    13569                               0.114599
4                       1358    12815                               0.105970
5                       1545    12795                               0.120750
6                       1631    13411                               0.121617
7                       1672    14331                               0.116670
8                       1566    13421                               0.116683
9                       1514    13682                               0.110656
10                      1669    13931                               0.119805
11                      1535    13823                               0.111047
12                      1783    15585                               0.114405

# 2020

Transformar a coluna 'data_inversa' no tipo 'datatime64', para poder manipular os dados através das datas!

In [40]:
df_meses_2020 = (df_2020)
df_meses_2020['data_inversa'] = pd.to_datetime(df_meses_2020['data_inversa'])

# RELAÇÃO ILESOS/TOTAL DE PESSOAS - 2020

*Usei a ferramenta .groupby para agrupar o número de pessoas ilesas em seus respectivos meses do ano de 2020

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [41]:
#AGRUPAMENTO POR MÊS
agrupamento_mes_ilesos_2020 = pd.DataFrame(df_meses_2020.groupby(df_meses_2020['data_inversa'].dt.month)['ilesos'].sum())

*Usei a ferramenta .groupby para agrupar o número total de pessoas em seus respectivos meses do ano de 2020

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [42]:
#AGRUPAMENTO POR MÊS DO TOTAL DE PESSOAS
agrupamento_mes_total_2020 = pd.DataFrame(df_meses_2020.groupby(df_meses_2020['data_inversa'].dt.month)['pessoas'].sum())

FIZ A JUNÇÃO DOS DOIS DATAFRAMES NOVOS CRIADOS PARA FAZER A OPERAÇÃO DE RELAÇÃO ENTRE OS VALORES USANDO A FUNÇÃO PANDAS .concat()

In [43]:
df_relacao_ilesas_2020 = pd.concat([agrupamento_mes_ilesos_2020, agrupamento_mes_total_2020], axis=1)

ENTÃO, FIZ A RELAÇÃO ENTRE O NÚMERO DE PESSOAS ILESAS DO ACIDENTE COM O TOTAL DE PESSOAS DE CADA MÊS E CRIEI UMA NOVA COLUNA PARA MOSTRAR ESTE RESULTADO

In [44]:
df_relacao_ilesas_2020['proporção (ilesos/total) 2020'] = df_relacao_ilesas_2020['ilesos'] / df_relacao_ilesas_2020['pessoas']
df_relacao_ilesas_2020

              ilesos  pessoas  proporção (ilesos/total) 2020
data_inversa
1               5847    14070                       0.415565
2               5537    13183                       0.420011
3               4321    10775                       0.401021
4               3155     8385                       0.376267
5               4043    10074                       0.401330
6               4425    10454                       0.423283
7               4934    11628                       0.424321
8               5454    12881                       0.423414
9               5486    13187                       0.416016
10              5960    14501                       0.411006
11              5491    13490                       0.407042
12              6205    15050                       0.412292

# **RELAÇÃO FERIDOS GRAVES/TOTAL DE PESSOAS - 2020**

*Usei a ferramenta .groupby para agrupar o número de pessoas FERIDAS GRAVEMENTE em seus respectivos meses do ano de 2020

*CRIEI UM NOVO DATA FRAME COM AS INFORMAÇÕES OBTIDAS

In [45]:
#AGRUPAMENTO POR MÊS DOS FERIDOS GRAVEMENTE
agrupamento_mes_feridosGrave_2020 = pd.DataFrame(df_meses_2020.groupby(df_meses_2020['data_inversa'].dt.month)['feridos_graves'].sum())

FIZ A JUNÇÃO DOS DOIS DATAFRAMES NOVOS CRIADOS PARA FAZER A OPERAÇÃO DE RELAÇÃO ENTRE OS VALORES USANDO A FUNÇÃO PANDAS .concat()

In [46]:
df_relacao_feridosGrave_2020 = pd.concat([agrupamento_mes_feridosGrave_2020, agrupamento_mes_total_2020], axis=1)

ENTÃO, FIZ A RELAÇÃO ENTRE O NÚMERO DE PESSOAS FERIDAS GRAVEMENTE DO ACIDENTE COM O TOTAL DE PESSOAS DE CADA MÊS E CRIEI UMA NOVA COLUNA PARA MOSTRAR ESTE RESULTADO

In [47]:
df_relacao_feridosGrave_2020['proporção (feridos_graves/total) 2020'] = df_relacao_feridosGrave_2020['feridos_graves'] / df_relacao_feridosGrave_2020['pessoas']
df_relacao_feridosGrave_2020

              feridos_graves  pessoas  proporção (feridos_graves/total) 2020
data_inversa
1                       1512    14070                               0.107463
2                       1468    13183                               0.111356
3                       1213    10775                               0.112575
4                        989     8385                               0.117949
5                       1168    10074                               0.115942
6                       1212    10454                               0.115936
7                       1263    11628                               0.108617
8                       1535    12881                               0.119168
9                       1548    13187                               0.117388
10                      1736    14501                               0.119716
11                      1624    13490                               0.120385
12                      1836    15050                               0.121993

<div class="alert alert-block alert-info">
(c) mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não
a incidência de acidentes nas rodovias federais.
</div>

Criei um DataFrame que une os anos de 2018 e 2019(anos nos quais não existira pandemia)

In [48]:
df_18_19 = pd.concat([df_2018,df_2019], ignore_index=True)
df_18_19

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136736,266255.0,2019-10-07,segunda-feira,09:10:00,ES,101.0,"270,5",SERRA,Falta de Atenção à Condução,Tombamento,...,1,1,0,1,2,"-20,23107","-40,27387",SR-ES,DEL12/2,UOP01/ES
136737,266406.0,2019-11-25,segunda-feira,07:20:00,PR,116.0,125,FAZENDA RIO GRANDE,Falta de Atenção à Condução,Colisão lateral,...,0,1,1,1,2,"-25,59505","-49,31631",SR-PR,DEL7/1,UOP03/PR
136738,266434.0,2019-06-03,segunda-feira,19:00:00,CE,222.0,"1,4",CAUCAIA,Não guardar distância de segurança,Colisão traseira,...,1,1,0,1,2,"-3,736507","-38,65337",SR-CE,DEL16/1,UOP01/CE
136739,266573.0,2019-07-13,sábado,19:35:00,PR,373.0,425,CANDOI,Defeito Mecânico no Veículo,Saída de leito carroçável,...,1,0,0,1,1,"-25,7118","-52,18374",SR-PR,DEL7/3,UOP02/PR
136740,266627.0,2019-10-22,terça-feira,20:20:00,BA,324.0,608,SIMOES FILHO,Defeito na Via,Queda de ocupante de veículo,...,0,0,0,1,1,"-12,78156","-38,41656",SR-BA,DEL10/1,UOP01/BA

CRIEI UM NOVO DATAFRAME E UMA NOVA COLUNA PARA INDENTIFICAR OS MESES DE CADA ACIDENDE, PEGUEI OS VALORES APENAS CONTANDO A PARTIR DO MÊS DE MARÇO PARA CONSIDERAR A PANDEMIA

In [49]:
df_2020_1 = df_2020
df_2020_1['mes'] = df_2020_1['data_inversa'].dt.month
df_2020_mes3 = (df_2020_1['mes']>=3).sum()

CRIEI UM NOVO DATAFRAME E UMA NOVA PARA INDENTIFICAR OS MESES DE CADA ACIDENTE, LOGO EM SEGUIDA PEGUEI OS VALORES DE APENAS OS MESES DE JANEIRO E FEVEREIRO DE 2020

In [50]:
df_2020_2 = df_2020
df_2020_2['mes'] = df_2020_2['data_inversa'].dt.month
df_2020_JanFev = (df_2020_2['mes']<=2).sum()

In [51]:
media_sem_pands = (len(df_18_19)+df_2020_JanFev)/26

PEGUEI O NÚMERO DE CASOS DE ACIDENTES A PARTIR DO MÊS DE MARÇO E DIVIDI PELOS NÚMERO DE MESES RESTANTES DO ANO DE 2020 (MAR-DEZ)

In [52]:
media_com_pands = (df_2020_mes3/10)

CRIEI UM NOVO DATAFRAME COM AS MÉDIAS DO PERÍODO ANTES DA PANDEMIA E DO PERÍODO PÓS A PANDEMIA

In [53]:
df_medias_acidentes = pd.DataFrame(data=[[media_sem_pands,media_com_pands]], columns=[['Antes da Pandemia','Com Pandemia']], index=['Média'])
df_medias_acidentes

      Antes da Pandemia Com Pandemia
Média       5680.961538       5258.4

ANALISEI SE PÓS A PANDEMIA O NÚMERO DE ACIDENTES FORAM MENORES OU NÃO

In [54]:
if media_sem_pands <= media_com_pands:
    print('Não houve diminução com a Pandemia!')
else:
    print('Houve uma diminuição dos acidentes com a Pandemia!')

Houve uma diminuição dos acidentes com a Pandemia!